// Custom styles.
// body { 这个是随机动态换背景   但是网站加载很慢 被墙了
     // background-color: #efefef;
     // background-image: url(http://lorempixel.com/1600/900);
     // background-repeat: no-repeat; 
     // background-attachment: fixed; 
     // background-position: center 0; 
     // background-size: cover; 
  // }
  
  @media screen and (min-width:1200px) {

    body {
    background-image:url(/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%; 
    }

    #footer a {
        color:#eee;
    }
}